# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc

# SAS
sas_plan
*.sas

# VIM
*.swp

# Space Seperated Value
*.ssv

# C++ try files
try.cc
try

## benchmarks
problems/downward-benchmarks

fast-downward/builds
/VAL

